<!doctype html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}| {{ SITENAME }}{% endblock %}</title>
  <link rel="canonical" href="{{ SITEURL }}/{{ output_file }}">

  {% if RFG_FAVICONS %}
    <link rel="apple-touch-icon" href="{{ SITEURL }}/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ SITEURL }}/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ SITEURL }}/manifest.json">
    <meta name="theme-color" content="#333333">
  {% endif %}

  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments/{{ PYGMENTS_STYLE|default('default') }}.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/theme.css">

<style>
.links {
  display: flex;
  flex-flow: column;
  width: 100vw;
  justify-content: center;
  align-items: stretch;
  padding: 1rem;
}

.links .link {
  background: darkslategrey;
  color: whitesmoke;
  border-radius: 1rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.links .link:hover,
.links .link:active {
  background: #0f1f1f;
  color: white;
}
</style>

</head>

<body>
  <main class="links">
    {% for (text, href) in MY_LINKS %}
    <a href={{ href }}>
    <div class="link">
      {{ text }}
    </div>
    </a>
    {% endfor %}
  </main>
</body>
</html>
