<div class="row">
  <ul class="col-sm-6 list-inline">
    {% if not HIDE_AUTHORS %}
      <li class="list-inline-item"><a href="{{ SITEURL }}/authors.html">Autores</a></li>
    {% endif %}
    <li class="list-inline-item"><a href="{{ SITEURL }}/archives.html">Histórico</a></li>
    <li class="list-inline-item"><a href="{{ SITEURL }}/categories.html">Categorias</a></li>
    {% if tags|length %}
      <li class="list-inline-item"><a href="{{ SITEURL }}/tags.html">Tags</a></li>
    {% endif %}
  </ul>
  <p class="col-sm-6 text-sm-right text-muted">
    Gerado com <a href="https://github.com/getpelican/pelican" target="_blank">Pelican</a>
    / <a href="https://github.com/nairobilug/pelican-alchemy" target="_blank">&#x2728;</a>
  </p>
</div>
